@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* changes */
li{
  list-style: none;
}

a:link,
a:visited{ 
  text-decoration: none; 
  color: grey;
}

.header{
  display: flex;
  justify-content: space-between;
  border: 8px;
  padding-right: 40px;
}

.footer{
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  border: 8px;
  padding-right: 40px;
  background-color: rgb(236, 235, 235);
}

.left-links,
.right-links{
  display: flex;
  gap: 25px;
  justify-content: space-between;
  
}

.content{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
}